<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">YOUR ORDER HISTORY</h1>
    </div>
</section>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">OrderId</th>
                <th scope="col">Datetime</th>
                <th scope="col">Details</th>
                <th scope="col">Total Cost</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {{#each orders}}
            <tr>
                <th scope="row">{{id}}</th>
                <td>{{formatDate createdAt}}</td>
                <td>
                    <a href="/users/orders/{{id}}">Order details</a>
                </td>
                <td>$ {{totalPrice}}</td>
                <td>{{status}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>